@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
}

:root{
    --sidebar-color: #FBEFDF;
    --white: #ffffff;
    --white2:#F5F0EA;
    --black: #000000;
    --pink2:#FFFDFB;
    --admin-icons: #AB916C;
    --chocolate:#AB916C;
    --admin-input-border: #AB916C;
    --banner-texts:#E57914;
    --error: red;

}

body{
    min-height: 100vh;
    overflow-x: hidden;
    
}
#top{
    position: fixed;
    bottom: 15px;
    margin: auto;
    padding: 12px;
    right: 0;
    outline: none;
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--banner-texts);
    font-weight: 700;
    border-radius: 20px;
    font-size: 18px;
}


/* Banner css */
.banner{
    position: relative;
    width: 100%;
    min-height: 100%;
    background: url(../images/photo-1480506132288-68f7705954bd.jpg);
    mix-blend-mode: normal;
    display: block;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: -1px 10px 5px;
}
.header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    
}
.header-graphic{
    display: flex; 
    justify-content: space-between; 
    width: 200px;
}
.header.active{
    width: 100%;
    height: 100%;

}
.logo{
    position: relative;
    width: 50px;
    padding: 5px;
    height: 100%;
}
.logo img{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    padding: 6px;
    height: 100%;
}
.navbar.active{
    display: block;
}

.navbar ul{
    display: flex;
    justify-content: end;
}
.navbar.active ul{
    display: block;
}
.navbar ul li{
    font-size: 0.8em;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    margin: 0 12px;


}
.navbar ul li.active{
    border-bottom: 3px solid var(--chocolate);

}
.navbar ul li a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    color: var(--chocolate);
    transition: 0.5s;
}
.header .navbar-toggler{
    width: 100px;
    height: 50px;
    background: transparent;
    display: none;
    margin: auto 10px;
    border: none;
    cursor: pointer;
}
.header .navbar-toggler i{
    color: #fff;
    font-size: 2.5em;
}

.contents{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    bottom: 0;
}
.social-links{
    width: 100px;
    display: block;
    height: 100%;
    padding: 12px;
    border-radius: 20px;
    margin-top: auto;
    margin-left: 12px;
}
.social-links i{
    color: #AB916C;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    cursor: pointer;
}
.contents-text{
    position: relative;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px;

}
.contents-text .line{
    height: 4px;
    background-color: var(--banner-texts);
    width: 300px;
    margin:auto auto;
    border-radius: 4px;
    margin-top: 10px;

}
.contents-text .title{
    color: var(--banner-texts);
    padding: 12px;
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 800;
    width: 500px;
    margin: 20px auto;
}
.contents-text .desc{
    font-size: 2.0em;
    color: #fff;
    font-weight: 900;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
.contents-text .link{
    width: 200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.contents-text .link a{
    width: 100px;
    background: var(--chocolate);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    border-radius: 18px;
    padding: 10px;
    font-size: 1.0em;
    cursor: pointer;
}
.contents-text .link a:hover{
    background: #000000;
    color: var(--chocolate);
    transition: 0.5s;
}
.contents-image{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
}
.contents-image img{
    height: 600px;
    width: 400px;
}
/* About css */

.about{
    width: 90%;
    height: 100%;
    margin: 24px auto;
    padding: 20px;
    display: block;
    box-shadow: 0px 5px  5px grey;
    border-radius: 20px;
}
.about .title{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    height: 40px;
    margin-bottom:12px ;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.about .title .title-line{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.about .title .title-line .line{
    height: 1px;
    background-color: var(--chocolate);
    width: 100%;
    margin: auto 0;
}
.about .title .title-line .circle{
    height: 10px;
    width: 10px;
    margin: auto 0;
    border-radius: 50%;
    border: 1px solid var(--chocolate);
}
.about .title .title-text{
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    
}
.about .title .title-text h2{
    margin: auto;
    padding: 5px;
    font-size: 0.8em;
}
.about-image{
    width: 200px;
    margin: 12px auto;
    height: 200px;
    padding: 12px;
}
.about-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--chocolate);
}
.about-text{
    background-color: #fff;
    padding: 12px;
    width: 80%;
    margin: 12px auto;

}
.about-text .hi{
    font-weight: 800;
    text-align: center;
    margin-bottom: 12px;
    font-size: 1.5em;
}
.about-text .text{
    font-size: 1.0em;
}
.about-links{
    display: flex;
    background-color: #fff;
    padding: 8px;
    justify-content: end;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    
}
.about-links a{
    text-decoration: none;
    color: #000000;
    border: 2px solid var(--chocolate);
    padding: 8px;
    margin-right: 12px;
    text-transform: uppercase;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
}
.about-links a:hover{
 color: var(--chocolate);
 border: 2px solid #000000;
 transition: 0.5s;
}
/* Blogs */
.blog{
    width: 90%;
    margin: 24px auto;
    padding: 12px;
}
.blog-header,
.skills-header,
.newsletter-header,
.services-header{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 2px solid var(--chocolate);
}
.blog-header h3{
    font-size: 1.5em;
    margin-left: 12px;
}
.blog-header a{
    font-size: 0.8em;
    text-decoration: none;
    color: var(--chocolate);
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    margin-right: 16px;
    padding: 5px;
}
.blog-header a:hover{
    color: #000000;
    transition: 0.5s;
}

.blog-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    padding: 2px;
}
.blog-col{
    display: block;
    width: 100%;
    height: 100%;
}
.blog-col .datetime{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin: 12px auto;
}
.blog-body a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 6px;
    width: 300px;
    margin: 5px 12px;
    box-shadow: 0 4px 18px rgb(0,0,0,0.08);
}
.blog-body a:hover{
    transition: 0.2s;
    background-color: antiquewhite;
    border-radius: 10px;
}
.blog-image{
    width: 90%;
    margin: 4px auto;
}
.blog-image img{
    width: 100%;
    height: 200px;
}
.blog-title{
    padding: 5px;
    left: 0;
    text-transform: uppercase;
    text-align: left;
    font-weight: 800;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.blog-details{
    padding: 6px;
    text-transform: capitalize;
    font-size: 1.0em;
    height: 50px;
    overflow-y: hidden;
    width: 100%;
}
.search-bar{
    width: 700px;
    margin:0 auto;
    padding: 10px;
}
.search-bar form{
    width: 100%;
    padding: 10px;
    display: flex;
}
.search-bar form input{
    width: 100%;
    padding:6px 13px;
    font-size: 0.9em;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--chocolate);
    cursor: pointer;

}
.search-bar form button{
    cursor: pointer;
    background: transparent;
    font-weight: 600;
    border:none;
    outline: none;
    color: var(--admin-icons);
    font-size: 1.5em;
    margin: 0 5px;
    width: 47px;
    height: 42px;
}
.search-bar form button:hover{
    color: var(--black);
    transition: 0.8s;
}
.blog-contents{
    width: 90%;
    margin: 12px auto 0;
    padding: 6px;
}
.blogslist{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 1.5rem;
    padding: 12px;
    height: 100%;
    
}
.blogslist a{
    cursor: pointer;
    
    display: block;
    box-shadow: 0 4px 18px rgb(0,0,0,0.08);
    border-radius: 5px;
}
.blogslist a:hover{
    transition: 0.8s;
    background-color: var(--sidebar-color);
    
}
.blogslist .card-details{
    min-height: 100px;
    overflow-y: hidden;
    word-wrap: break-word;
}
.blog-card{
    display: block;
    height: 230px;
    margin:5px auto;
    
}
.readBlogcard{
    display: block;
    width: 1000px;
    height: 100%;
    padding: 24px;
    box-shadow: 0 4px 25px rgb(0,0,0,0.08);
    margin:auto;
}
.blog-card .card-image{
    width: 90%;
    height: 200px;
    margin: auto;
  
  
}
.readBlogcard .card-image{
    width: 90%;
    height: 400px;
    margin: 6px auto;
    
}
.card-image img{
    width: 100%;
    height: 100%;
    size: cover;
    border-radius: 5px;
}
.blog-card .card-text{
    width: 90%;
    height: 100px;
    margin: auto;
    display: block;
    overflow-y: none;
}
.readBlogcard .card-text{
    width: 90%;
    height: 100%;
    margin: 12px auto;
}
.blog-card .datetime{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.75em!important;
    width: 100%;
    margin: auto;
}
.readBlogcard .datetime{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}
.card-title{
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 4px;
    width:100%;
    padding: 6px;
    text-transform: uppercase;
}
.card-title a{
    text-decoration: none;
    color: var(--chocolate);
    cursor: pointer;

}
.card-title a:hover{
    color: var(--black);
    transition: 0.8s;
}
.card-details{
    font-size: 1.1em;
    width: 100%;
    padding: 6px;
    height: 50px;

}
.readBlogcard .card-details{
    height: 100%;
}
.blog-card .interaction{
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 5px;
    display: block;
    
}
.icons{
    padding: 5px;
    display: flex;
    margin-bottom: 6px;
    
}
.icons label{
    background-color: azure;
    width: 100px;
    height: 100%;
    padding: 6px;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 1.0em;
    text-align: center;
}
.icons label i{
    cursor: pointer;
    color: var(--chocolate)!important;
    font-weight: 700;
    
}
.interaction form{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    
}
.interaction form input{
    width: 100%;
    padding: 7px;
    outline: none;
    border-radius:5px ;
    border: 1px solid var(--chocolate);
    margin: 6px auto;
}
.interaction form button{
    width: 70px;
    margin: 6px auto;
    text-align: center;
    background: var(--chocolate);
    border: none;
    color: #000000;
    font-weight: 700;
    border-radius: 5px;
    padding: 12px;
}
.comment{
    margin: 6px auto;
    padding: 6px 22px;
    display: block;
    width: 1000px;
}
.comments{
    margin:0 auto 12px;
    width: 1000px;
    padding: 24px;
    height: 100%;
}
.comment-name{
    display: flex;
    margin: 12px auto;
    width: 100%;
    word-wrap: break-word;
}
.comment-name label{
    font-weight: 700;
    font-size: 12px;
    margin-right: 12px;
    color: var(--admin-input-border);
}
.comment label{
    font-size: 0.8em;
    font-weight: 700;
    color: var(--admin-input-border);
}
.comment-name p{
    font-size: 12px;
}
.comment p{
    padding-left: 4px;
}
/* skills,newsletter,services css */
.container{
    width: 90%;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    height: 100%;
    margin: 24px auto;
}
.container-2{
    width: 100%;
    margin-bottom: 24px;
    margin-left:  12px;
    margin-right: 12px;
}
.skills{
    display: block;
    width: 100%;
    padding: 12px;
    box-shadow: -5px 5px  5px grey;
    margin-bottom: 24px;
}
.skills-image{
    margin: 12px auto;
    display: flex;
    justify-content: start;
    text-align: center;
    text-transform: capitalize;
    
}
.skills img{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border-radius: 12px;
}
.newsletter{
    margin-top: 12px;
    padding: 5px;
    box-shadow: -5px 5px  5px grey;
}
.newsletter form,.commentForm{
    margin-top: 12px;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.newsletter form input,.commentForm input{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--chocolate);
    margin:0 12px ;
    border-radius: 5px;
    outline: none;
}
.newsletter form button,.commentForm button{
    width: 200px;
    text-transform: uppercase;
    background-color: var(--chocolate);
    border: none;
    font-weight: 700;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}
.newsletter form button:hover{
    color: var(--chocolate);
    background-color: #000000;
    transition: 0.6s;
}
.services{
    width: 50%;
    height: 100%;
    margin: 0 12px;
    padding: 12px;
    box-shadow: -5px 5px 5px grey;
}
.services ul{
    padding: 12px;
    margin-top: 12px;
}
.services ul li{
    text-transform: uppercase;
    padding: 6px;
    margin-bottom: 12px;
    list-style-type: none;
}

.footer{
    background: #000000;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 12px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 0;
    
}
/*Contact page css*/

.contact-body,.signup-body{
    margin: 24px auto;
    width: 900px;
    height: 100%;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.contact-form,.signup-form{
    display: block;
    border: 2px solid var(--chocolate);
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    height: 100%;
    margin: 0 12px;
}
.contact-form h1,.adminlogin-form h1,.signup-form h1{
    width: 100%;
    text-transform: uppercase;
    font-size: 1.0em;
    padding: 5px;
    text-align: center;
    margin-bottom: 18px;
}
.contact-form form,.signup-form form{
    display: block;
    width: 100%;
    height: 100%;
    padding: 6px;

}
.feedback-text{
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    padding: 2px;
    text-transform: capitalize;
    font-weight: 700;
}
.contact-form form .names,.signup-form form .names{
    display: flex;
    justify-content: space-between;
}
.input-group{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    padding: 6px;
    margin-bottom: 4px;
    height: 100%;

}
.input-group i{
    color: var(--admin-icons);
    cursor: pointer;
    width: 20px;
    text-align: center;
    margin-left: auto;
    position: relative;
    top: -30px;
    margin-right: 12px;
}
.input-group i.active::before{
    color: var(--black);
    font-weight: 700;
    transition: 0.8s;

}
.input-group label{
    width: 100%;
    padding: 5px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 4px;
    font-weight: 700;
}
.input-group input,textarea,select{
    padding: 9px;
    outline: none;
    border: 1px solid var(--chocolate);
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}
.contact-form form button,.adminlogin-form form button,.signup-form form button{
    padding: 5px;
    background-color:var(--chocolate) ;
    text-align: center;
    border: none;
    text-transform: uppercase;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    color: #000000;
    font-weight: 700;
}
.contact-form form button:hover,.adminlogin-form form button:hover{
   background-color:#000000;
   color: var(--chocolate) ;
   transition: 0.5s;
}
.contacts{
    width: 300px;
    margin: 0 12px;
    height: 100%;
    padding: 9px;
    box-shadow: 0 1px 5px;
    display: block;
}
.contacts h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.0em;
    margin-bottom: 18px;
    border-bottom: 1px solid var(--chocolate) ;
}
.contacts .telephone{
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}
.contacts .whatsaap{
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}
.social-medialinks{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.social-medialinks i{
     cursor: pointer;
     font-size: 1.0em;
}

/* projects */
.projects{
    
    width: 1200px;
    margin: 24px auto;
    height: 100%;
    display: block;
    padding: 6px;
}
.projects .projects-title{
    text-transform: uppercase;
    font-size: 0.5em;
    text-align: center;
    margin:5px auto 5px;
}

.recent-projects-cards{
    display: flex;
    width: 100%;
    padding: 0 0 24px;
    height: 100%;
    margin: auto;
    overflow-x: scroll;
}

.project-card{
    display: block;
    border-radius: 10px;
    width: 400px;
    height: 100%;
    padding: 0 12px 20px;
    background: var(--white);
    margin: 0 10px;
    box-shadow: 0 3px 10px var(--admin-input-border);
    
}

.project-card .project-image{
    
    width: 300px;
    height: 200px;
    margin: 6px auto;

}

.project-card .project-image img{
    width: 100%;
    height: 100%;
}
.project-card .descriptions{
    
    margin-bottom: 12px;
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 0 6px;
    height: 90px;
    overflow-y: auto;
   
}
.project-card .descriptions .details{
    text-align: center;
    margin-bottom: 12px;
    font-size: 0.8em;
    width: 100%;
}
.project-card .descriptions .link{
    
    margin: 12px auto;
    text-align: center;
    width: 100px;
    padding: 8px;

}
.project-card .descriptions .link a{
    padding: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    background: var(--admin-input-border);
    color: var(--black);
    font-weight: 700px;
}

.myprojects{
    
    padding: 12px;
    height: 500px;
    overflow-y: scroll;
}
.project-head{
    
    padding: 6px 0 6px;
    width: 100%;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    margin: 0 0 14px;
    border-bottom: 1px solid var(--admin-input-border);
}
.project-head .projectname,.project .projectname{
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    padding: 6px;
}
.project-head .language,.project .language{
    width: 200px;
    padding: 6px;
    word-wrap: break-word;
}
.project-head .duration,.project .duration{
    width: 200px;
    padding: 6px;
}

.project{
    
    padding: 6px 0 6px;
    width: 100%;
    text-transform: capitalize;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px; 
}
.project .projectname a{
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    cursor: pointer;
    
}
.project .projectname a:hover{
    color: var(--admin-input-border);
    transition: 0.8s;
}
.projects-details{
  
    margin-top: 12px;
    padding: 6px;
}
.projects-details .projects-title{
    display: flex;
    justify-content: start;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--admin-input-border);
}
.projects-details .projects-title i{
    font-size: 1.2em;
    margin: 0 12px;
}
.projects-details .projects-title label{
    font-size: 1.1em;
    margin-right: 12px;

}
.projects-details .projects-title h1{
    font-size: 1.0em;
}

.projects-details-body{
    display: flex;
    padding: 6px;
    width: 100%;
    height: 100%;
}
.projects-headings{
    width: 200px;
    min-height: 500px;
    border-right:1px solid var(--admin-input-border);
}
.projects-headings ul{
    display: block;
}
.projects-headings ul li{
    list-style: none;
    padding: 6px;
    margin-bottom: 12px;
    text-transform: uppercase;
    text-align: right;
    color: var(--admin-input-border);
}
.projects-details-body .details{
  
    width: calc(100% - 400px);
    padding: 0 6px;
    min-height: 500px;
    overflow-y: scroll;
}
.details h2{
    text-transform: uppercase;
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 12px;
}
.details div{
    margin-bottom: 12px;
}


/*Responsivness*/

@media (max-width: 1000px) { 
    .header{
        display: block;
    }
    .header-graphic{
        width: 100%;
    }
   
    .header .navbar-toggler{
        display: block;
        margin: 0;
    }
    .header .navbar-toggler i{
        color: #fff;
        font-size: 1.2em;
    }
    .navbar{
        display: none;
    }
    .navbar ul li{
        font-size: 1.20em;
    }
    .navbar ul li.active{
        border-bottom: none;
    }
    .contents{
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 10px;
        bottom: 0;
    }

    .social-links{
        width: 100%;
        display: flex;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }
    .contents-image{
    display: none;
   
    }
    .contents-text{
        margin-left: none;
    }
    .contents-text .line{
        width: 100%;
    }
    .contents-text .title{
        width: 100%;
    }
    .about .title {
        width: 100%;
    }
    .about .title .title-text{
        width: 60%;
        font-size: 12px;
        padding: 6px;
    }
    .about-image{
        width: 200px;
        height: 200px;
    }
  
    .about-text .hi{
        font-size: 0.75em;
    }
    .about-text .text {
        font-size: 0.9em;
    }
    .blogslist{
        display: block;
    }
    .readBlogcard,.comments{
        width: 100%;
    }
    .readBlogcard .interaction{
        width: 100%;
    }
    .blog{
        border-bottom: 1px solid grey;
    }
    .blog-body{
        display: grid;
        grid-template-columns: 100%;
    }
    .blog-body a{
        width: 100%;
    }
    .blog-body a:hover{
        margin: 5px 12px;
    }
    .container{
        display: block;
    }
    .skills-image{
        width: 110px;
        height: 100%;
        display: block;
        padding: 5px;
    }
    .skills-image img{
        width: 100px;
        height: 100px;
    }
    .newsletter form{
        display: block;
    }
     .newsletter form input{
        width: 100%;
        padding: 6px;
        margin-bottom:12px ;
     }
     .newsletter form button{
        height: 100%;
        width: 100px;
        padding: 12px;
     }
    .services{
        width: 100%;
    }
    .skills-image{
        display: block;
    }
    .blog-card{
        display: block;
        width: 100%;
        height: 240px;
        margin-top: 16px;
    }
    .readBlogcard .card-image{
        width: 100%;
    }
    .blog-card .card-image{
    width: 100%;
    height: 300px;
    }
    .card-image img{
    height: 100%;
    }
    .card-text{
    width: 100%;
    }

    .contact-body,.signup-body{
        width: 100%;
        display: block;
        padding: 12px;
    }
    .contact-form,.signup-form{
        margin: 24px 0;
    }
    .contact-form form .names,.signup-form form .names{
        display: block;
    }
    .contacts{
        width: 100%;
        margin: 0;
    }
    .contacts .telephone{
        justify-content: center;
    }
    .contacts .whatsaap{
         justify-content: center;

    }
    .blog-contents{
        width: 100%;
        padding: 6px;

    }
    .search-bar{
        width: 100%;
    }
    .projects{
        width: 100%;
    }
    .projects-headings{
        display: none;
    }
    .projects-details-body .details{
        width: 100%;
    }
}